main {
	padding: 2rem 8rem;

	display: flex;
	align-items: center;
	gap: 4rem;

	background: linear-gradient(
			to left,
			rgba(133, 96, 217, 0.5) 0%,
			rgba(133, 96, 217, 0) 75%
		),
		url('../assets/base.jpg');
	background-size: cover;
	background-position: center;
}

main > * {
	flex: 1;
}

main #heading {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main #heading img {
	width: 205px;
	height: 85px;
}

main #heading p {
	font-size: 1.5rem;
	color: var(--white);
}

main #heading .group {
	margin-top: 2rem;

	display: flex;
	gap: 1rem;
}

main #auth {
	gap: 2rem;
	backdrop-filter: blur(0.5rem);
}

main #auth *:not(.btn-ts) {
	color: var(--white);
}

main #auth .group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main #auth .group .input {
	display: flex;
}

main #auth input {
	padding: 1rem 2rem;

	width: 100%;

	background: var(--ts-input-bg);
	border: 0.1rem solid var(--ts-card-bg);
	border-radius: 4rem;

	font-size: 1rem;
	font-weight: 500;

	backdrop-filter: blur(0.5rem);
}

main #auth input::placeholder {
	color: var(--input-text);
}

#info p {
	font-weight: 600;
}

#btns {
	display: flex;
	gap: 1rem;
}

#btns button {
	padding: 1rem 2rem;
}

small {
	font-size: 0.75rem;
}

small a {
	text-decoration: underline;
}

/* восстановление стилей списка */

#info ul {
	list-style-type: disc;
	padding-inline-start: 40px;
}

#info ul * {
	display: list-item;
	list-style-type: disc;
}

/* адаптивность */

@media (max-width: 1150px) {
	main {
		flex-direction: column;
	}
}

@media (max-width: 800px) {
	main,
	#quizes-con {
		padding: 2rem 1rem;
	}
}

@media (max-width: 600px) {
	main {
		gap: 1rem;
	}

	main #heading p {
		font-size: 1rem;
	}

	main #heading .group {
		margin-top: 0;

		flex-direction: column;
		gap: 0.5rem;
	}

	.card-quiz {
		padding: 1rem;
		min-width: 8rem;

		border-radius: 1rem;
	}

	.card-quiz header .question-count {
		font-size: 0.75rem;
	}

	.card-quiz header img {
		width: 1rem;
		height: 1rem;
	}

	.card-quiz h3 {
		margin-top: 2rem;

		font-size: 1rem;
	}

	.card-quiz footer {
		row-gap: 0;
	}

	.card-quiz footer * {
		font-size: 0.75rem;
	}
}
