:root {
	--gray-light: #f1f1f1;
	--gray: #dedede;
	--gray-dark: #787878;
	--color-main: #8560d9;

	/* белый и его оттенки */
	--white: rgba(250, 250, 250, 1);
	--card-text: rgba(250, 250, 250, 0.75);
	--input-text: rgba(250, 250, 250, 0.5);
	--ts-card-bg: rgba(250, 250, 250, 0.25);
	--ts-input-bg: rgba(250, 250, 250, 0.05);

	/* черный и его оттенки */
	--black: rgba(50, 50, 50, 1);
	--color-img-overlay: rgba(50, 50, 50, 0.6);
}

main {
	padding: 2rem 8rem;

	min-height: 80vh;

	display: flex;
	gap: 2rem;
}

#info {
	padding: 2rem;

	width: 22rem;
	height: fit-content;

	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	border: 0.1rem solid var(--gray);
	border-radius: 2rem;
}

#info #heading {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#info #name p {
	margin-bottom: 0.5rem;

	color: var(--gray-dark);
}

#info img {
	width: 1.25rem;
	height: 1.25rem;
}

hr {
	height: 0.1rem;

	border: none;
	border-radius: 0.5rem;
}

#info > hr {
	width: 100%;

	background: var(--gray);
}

#stats .group:first-child {
	margin-bottom: 1rem;
}

#stats .group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

#stats .group hr {
	flex: 1;

	background: var(--gray-light);
}

#logout {
	width: 100%;

	font-weight: 500;
	color: var(--gray-dark);
	text-align: center;
}

form {
	width: 100%;

	display: flex;
	gap: 1rem;
}

form #name {
	max-width: 15.5rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

form input {
	padding: 1rem 2rem;

	border: 0.1rem solid var(--gray);
	border-radius: 4rem;
	font-size: 1rem;
}

form #name {
	font-size: 2rem;
}

#quizes {
	flex: 1;
}

menu {
	margin-bottom: 1rem;

	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

menu hr {
	flex: 1;

	background: var(--gray);
}

#tabs {
	display: flex;
}

#tabs .tab {
	border: 0.1rem solid transparent;
	border-radius: 1rem 1rem 0 0;
}

#tabs .tab.active {
	border-color: var(--gray);
	border-bottom: 0;
}

#tabs .tab:not(.active) {
	border-bottom: 0.1rem solid var(--gray);

	color: var(--color-main);
}

#tabs .tab a {
	padding: 1rem 2rem;

	display: block;
}

menu .btn-black {
	width: fit-content;
}

#quizes a img {
	margin-right: 0.5rem;
}

#alert {
	margin-top: 3rem;

	text-align: center;
}

#quiz-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.card-quiz {
	/* чтобы растягивалась карточка при переносе */
	flex: 1 0 0;
	/* чтобы перенос вообще был */
	min-width: 16rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-quiz header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: initial;
}

/* question-count класс просто для понимания */
.card-quiz header .question-count {
	color: var(--card-text);
}

.card-quiz header img {
	width: 1.25rem;
	height: 1.25rem;
}

.card-quiz h3 {
	margin-top: 5rem;
	margin-bottom: 0.5rem;

	font-size: 1.75rem;
}

.card-quiz footer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.card-quiz footer * {
	color: var(--card-text);
	font-size: 1rem;
}

.card-quiz .group {
	margin-top: 2rem;
}

.card-quiz .group .filetype {
	font-size: 0.75rem;
	color: var(--input-text);
}

.card-quiz .group button:last-child {
	margin-top: 0.5rem;
}

/* псевдоклассы */

/* для пк */
@media (hover: hover) {
	.card-quiz:hover {
		scale: 1.05;
	}
}

/* для тачпадов */
@media (hover: none) {
	.card-quiz:active {
		scale: 1.05;
	}
}

/* адаптивность */

@media (max-width: 1150px) {
	main {
		flex-direction: column;
	}

	#info {
		width: unset;
	}

	form #name {
		max-width: unset;
		flex: 1;
	}
}

@media (max-width: 800px) {
	main,
	#quiz-list {
		padding: 2rem 1rem;
	}
}

@media (max-width: 600px) {
	#info form {
		align-items: flex-start;
		justify-content: space-between;
	}

	form #name {
		max-width: 10rem;
		flex: initial;
	}

	menu {
		flex-direction: column-reverse;
		gap: 1rem;
	}

	menu .btn-black {
		width: 100% !important;
	}

	menu hr {
		display: none;
	}

	#tabs {
		width: 100%;
	}

	#tabs .tab {
		flex: 1;
		text-align: center;
	}

	#tabs .tab a {
		padding: 0.5rem 1.25rem;
	}

	.card-quiz {
		padding: 1rem;
		min-width: 8rem;

		border-radius: 1rem;
	}

	.card-quiz header .question-count {
		font-size: 0.75rem;
	}

	.card-quiz header img {
		width: 1rem;
		height: 1rem;
	}

	.card-quiz h3 {
		margin-top: 2rem;

		font-size: 1rem;
	}

	.card-quiz footer {
		row-gap: 0;
	}

	.card-quiz footer * {
		font-size: 0.75rem;
	}

	.card-quiz .group {
		margin-top: 1rem;
	}

	.card-quiz .group button {
		padding: 0.5rem 1.25rem;
	}

	.card-quiz .group * {
		font-size: 0.75rem;
	}

	.card-quiz .group button:first-child {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		border-radius: 1rem;
	}

	.card-quiz .group .filetype {
		font-size: 0.5rem;
	}
}
