@import url('../../index.css');

#HomePage {
	#banner {
		padding: 8rem;

		display: flex;
		align-items: center;
		gap: 4rem;

		background: linear-gradient(
				to left,
				var(--color-primary-high) 0%,
				transparent 50%
			),
			url('/public/assets/index/banner.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	#banner * {
		color: var(--white-full);
	}

	#banner > * {
		flex: 1;
	}

	#banner #left {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#banner #left img {
		width: 205px;
		height: 85px;
	}

	#banner #left p {
		font-size: 1.5rem;
	}

	#banner #left .group {
		margin-top: 2rem;

		display: flex;
		gap: 1rem;
	}

	#banner #left .group * {
		flex: 1;
	}

	#banner #right {
		gap: 2rem;
	}

	#banner #right .content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	#banner #right .content span {
		font-weight: 600;
	}

	#quizzes {
		padding: 2rem 8rem;
	}

	#quizzes #search {
		padding: 1rem 2rem;
		margin-bottom: 1rem;

		justify-content: space-between;
		gap: 1rem;

		border: 0.1rem solid var(--lightgrey);
		border-radius: 4rem;
	}

	#quizzes #searchbar {
		flex: 1;
		border: none;
	}

	#quizzes #search img {
		width: 1.25rem;

		display: block;

		aspect-ratio: 1/1;
		object-fit: contain;
	}

	#quizzes #searchbar:focus-visible {
		outline: none;
	}

	#quizzes #search:focus-within {
		border-color: var(--color-primary);
	}

	#quizzes-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	.quiz {
		justify-content: space-between;
	}

	.quiz img {
		width: 1.25rem;
		aspect-ratio: 1/1;
		object-fit: contain;
	}

	.quiz .btn {
		margin-top: 2rem;
	}

	@media (width < 1050px) {
		#banner {
			padding: 2rem 4rem;

			background: linear-gradient(
					to left,
					var(--color-primary-high) 0%,
					var(--color-primary-low) 50%
				),
				url('/public/assets/index/banner.png');
		}

		#quizzes {
			padding: 2rem 4rem;
		}

		#quizzes-list {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (width < 800px) {
		#banner {
			padding: 2rem 1rem;

			flex-direction: column;
			gap: 1rem;

			background: linear-gradient(
					to left,
					var(--color-primary-high) 0%,
					var(--color-primary-low) 50%
				),
				url('/public/assets/index/banner.png');
		}

		#banner #left p {
			font-size: 1rem;
		}

		#banner #left .group {
			margin-top: 0;

			flex-direction: column;

			gap: 0.5rem;
		}

		#banner #right {
			gap: 1.25rem;
		}

		#quizzes {
			padding: 2rem 1rem;
		}

		#quizzes-list {
			grid-template-columns: 1fr;
		}

		.quiz .btn {
			margin-top: 1rem;
		}
	}
}
