footer {
	padding: 1rem 8rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	background-color: var(--lightgrey);
}

footer #top {
	cursor: pointer;
	font-size: 2rem;
}

footer a {
	font-size: 0.875rem;
	font-weight: 600;
}

footer small {
	text-align: center;
	font-size: 0.5rem;
}
