@import url('../../index.css');

.timer-popup {
	.popup > .faded-text {
		width: 100%;
		text-align: center;
		cursor: pointer;
	}

	div[role='button'] {
		width: fit-content;
	}

	.popup .group.btn {
		border: 0.1rem solid var(--grey);
	}

	.popup .group input {
		border: none;
	}

	.popup .group input:focus-visible {
		outline: none;
	}

	.popup .group.btn label {
		font-weight: 400;
	}

	.popup .group label {
		flex: 0 1;
	}

	@media (width < 800px) {
		.popup .group {
			justify-content: space-between;
		}

		.popup .group.btn {
			flex-direction: row;
		}

		.popup .group input {
			max-width: 8rem;
		}

		.popup .group div.btn {
			width: 100%;
		}
	}
}

#CreatePage {
	padding: 2rem 8rem;

	textarea {
		padding: 2rem;

		width: 100%;
		height: 12rem;

		resize: none;
	}

	button {
		width: fit-content;
	}

	#heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.custom-checkbox input {
		display: none;
	}

	.custom-checkbox .checkmark {
		width: 1.5rem;
		height: 1.5rem;
		position: relative;
		display: inline-block;
		border: 0.1rem solid var(--grey);
		border-radius: 0.25rem;
		background-color: var(--white-full);
		cursor: pointer;
	}

	.custom-checkbox input:checked + .checkmark {
		background-color: var(--green);
		border-color: var(--green);
	}

	.custom-checkbox input:checked + .checkmark::after {
		content: '';
		position: absolute;
		top: 0.2rem;
		left: 0.4rem;
		width: 0.3rem;
		height: 0.65rem;
		border: solid var(--white-full);
		border-width: 0 0.2rem 0.2rem 0;
		transform: rotate(45deg);
	}

	#info {
		margin-bottom: 4rem;
	}

	#remove-bg-btn {
		cursor: pointer;
	}

	#upload {
		position: relative;

		border-radius: 2rem;
	}

	#upload.covered #upload-overlay {
		mix-blend-mode: difference;
		border: none;
	}

	#upload-overlay {
		padding: 2rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.25rem;

		border: 0.1rem solid var(--grey);
		border-radius: 2rem;
	}

	#upload-overlay p {
		font-size: 1.25rem;
		color: var(--darkgrey);
	}

	#cover {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		opacity: 0;
		cursor: pointer;
	}

	#info > .group {
		display: inherit;
		flex-direction: inherit;
		gap: 1rem;
	}

	#info #tags {
		display: flex;
		gap: 1rem;
	}

	#info #tags * {
		flex: 1;
	}

	#quiz {
		position: relative;
	}

	#quiz,
	#quiz-list {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	#quizzes-heading {
		position: sticky;
		z-index: 1;
		top: 5rem;
		left: 0;

		display: flex;
		align-items: center;
		justify-content: space-between;

		background-color: var(--white-full);
	}

	#quizzes-heading menu .btn {
		gap: 0.5rem;
	}

	#menu-pc {
		padding-bottom: 1rem;

		display: flex;
		align-items: center;
		gap: 1rem;
	}

	#menu-mobile {
		display: none;

		position: relative;
	}

	#menu-pc div img,
	#menu-mobile div img {
		width: 1rem;
		aspect-ratio: 1/1;
		object-fit: contain;
	}

	#dropdown-button {
		cursor: pointer;
	}

	.dropdown-content {
		min-width: 14rem;

		display: none;
		flex-direction: column;

		position: absolute;
		right: 0;
		z-index: 1;

		background-color: var(--white-full);
		border: 0.1rem solid var(--grey);
		border-radius: 1rem;
		overflow: hidden;
	}

	.dropdown-content button {
		padding: 1rem;

		width: 100%;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 0.5rem;
	}

	.dropdown-content svg {
		width: 0.75rem;
		aspect-ratio: 1/1;
	}

	.dropdown-content hr {
		background-color: var(--lightgrey);
	}

	#menu-questions.show {
		display: flex;
	}

	.question {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.question-con {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.question-number {
		font-weight: 700;
		font-size: 1.25rem;
		color: var(--darkgrey);
	}

	.question-con input {
		flex: 1;
	}

	.multipleChoice,
	.multipleChoice .answers {
		display: grid;
		gap: 1rem;
	}

	.multipleChoice .answer-con {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	.multipleChoice input[type='checkbox'] {
		cursor: pointer;
	}

	.multipleChoice .btn {
		flex: 1;
	}

	.trueFalse {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
	}

	.trueFalse label {
		display: inline-block;

		width: 4.75rem;
		aspect-ratio: 1/1;
	}

	.trueFalse svg {
		margin: 1rem;

		width: 3.75rem;
		aspect-ratio: 1/1;
	}

	.trueFalse .answer-con {
		position: relative;
	}

	.trueFalse input {
		width: 100%;
		height: 100%;

		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		opacity: 0;
		cursor: pointer;
	}

	#quiz > .group {
		display: flex;
		gap: 1rem;
	}

	#quiz > .group button {
		width: 100%;
	}

	#quiz > .group .btn-secondary {
		gap: 2rem;
	}

	#quiz > .group .btn-secondary span:last-child {
		font-size: 0.75rem;
		color: var(--black-medium);
	}

	.popup .group.btn {
		border: 0.1rem solid var(--grey);
	}

	.popup .group.btn label {
		font-weight: 400;
	}

	.popup .group input {
		border: none;
	}

	.popup .group label {
		flex: 0;
	}

	.popup > .faded-text {
		width: 100%;
		text-align: center;
		cursor: pointer;
	}

	input:focus-visible,
	textarea:focus-visible {
		outline: none;
		border-color: var(--color-primary);
	}

	.custom-checkbox input:focus + .checkmark {
		border-color: var(--green);
	}

	@media (hover: hover) {
		.dropdown-content div:hover {
			background-color: var(--lightgrey);
		}

		.delete-answer:hover rect {
			fill: var(--darkgrey);
		}

		.custom-checkbox:hover .checkmark {
			border-color: var(--darkgrey);
		}
	}

	@media (hover: none) {
		.dropdown-content div:active {
			background-color: var(--lightgrey);
		}

		.delete-answer:active rect {
			fill: var(--darkgrey);
		}

		.custom-checkbox:active .checkmark {
			border-color: var(--darkgrey);
		}
	}

	@media (width < 1150px) {
		#info #tags * {
			max-width: 31.6%;
		}
	}

	@media (width < 1050px) {
		padding: 2rem 4rem;

		#menu-pc {
			display: none;
		}

		#menu-mobile {
			display: inline-block;
		}

		.dropdown-content {
			top: 3.5rem;
		}
	}

	@media (width < 800px) {
		padding: 2rem 1rem;

		#heading {
			flex-direction: column;
			gap: 1rem;
		}

		#heading h2 {
			width: 100%;
			text-align: left;
		}

		#heading button {
			width: 100%;
		}

		#upload {
			border-radius: 1.5rem;
		}

		#upload-overlay {
			padding: 1.75rem 1.5rem;

			border-radius: 1.5rem;
		}

		#info #tags {
			flex-direction: column;
		}

		#info #tags * {
			max-width: initial;
		}

		.dropdown-content {
			top: 3rem;
		}

		#quiz > .group {
			flex-direction: column;
		}

		#quiz > .group .btn-secondary {
			justify-content: space-between;
		}

		.popup .group {
			justify-content: space-between;
		}

		.popup .group input {
			max-width: 8rem;
		}

		.popup .group.btn {
			flex-direction: row;
		}

		.popup .group div.btn {
			width: 100%;
		}
	}
}
