@import url('../../index.css');

#ResultsPage {
	padding: 2rem 8rem;

	button {
		cursor: default;
		width: fit-content;
	}

	table {
		width: 100%;
		table-layout: fixed;
	}

	table th,
	table td {
		padding: 0.5rem 1rem;
		text-align: left;
	}

	table td:first-child,
	table th:first-child {
		border-right: 0.1rem solid var(--grey);
	}

	.correct {
		color: var(--white-full);
		background-color: var(--green);
	}

	.incorrect {
		color: var(--white-full);
		background-color: var(--red);
	}

	#heading {
		margin-bottom: 4rem;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
	}

	#heading div {
		display: grid;
		gap: 0.5rem;
	}

	#heading p {
		color: var(--darkgrey);
	}

	#heading button {
		cursor: pointer;

		display: flex;
		align-items: flex-start;
		gap: 0.5rem;

		appearance: none;
		color: #8560d9;
	}

	#heading button span {
		font-size: 0.75rem;
		opacity: 0.5;
		color: #8560d9;
	}

	h1 {
		font-weight: 700;
		color: var(--black-full);
		font-size: 1.5rem;
	}

	form > button {
		width: 100%;
	}

	.results {
		display: grid;
		gap: 2rem;
	}

	.question {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.question-text {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.question-text span {
		font-style: italic;
		color: var(--darkgrey);
	}

	.question-number {
		font-weight: 700;
		font-size: 1.25rem;
		color: var(--darkgrey);
	}

	.multipleChoice {
		display: grid;
		gap: 0.5rem;
	}

	.multipleChoice .btn {
		width: 100%;

		border-radius: 1rem;
		text-align: left;
	}

	.multipleChoice .correct-border {
		border: 0.1rem solid var(--green) !important;
		color: var(--green) !important;
	}

	.trueFalse {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4rem;
	}

	.trueFalse button {
		width: 4.75rem;
		aspect-ratio: 1/1;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.trueFalse svg {
		width: 3.75rem;
		aspect-ratio: 1/1;
	}

	@media (hover: hover) {
		.btn-secondary:hover {
			cursor: default;
			background-color: var(--lightgrey);
		}
	}

	@media (hover: none) {
		.btn-secondary:active {
			cursor: default;
			background-color: var(--lightgrey);
		}
	}

	@media (width < 1100px) {
		#heading {
			align-items: flex-start;
			flex-direction: column;
		}
	}

	@media (width < 800px) {
		padding: 2rem 1rem;

		.multipleChoice {
			grid-template-columns: 1fr;
			gap: 1rem;
		}
	}
}
